<!DOCTYPE html>
<html lang="en">

<head>
    <title>Serveur SMS | Erreur</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<!-- Fontawesome -->
<link type="text/css" href="./vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="./css/neumorphism.css" rel="stylesheet">
</head>

<body>
    <% include partials/component/nav %>
    
    <main>
        <!-- Hero -->
        <div class="section section-header pb-7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 text-center">
                        <h1 class="display-2 mb-4">Erreur :</h1>
                        <p class="lead mb-5">Une erreur est survenu</p>
                </div>
            </div>        
        </div>
        <!-- End of Hero section -->
    </main>

    <% include partials/component/footer %>

  
    <% include partials/script %>

</body>

</html>