<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/component/nav %>
    
    <main>
        <!-- Hero -->
        <div class="section section-header pb-7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 text-center">
                        <h1 class="display-2 mb-4">Huawei Wingle SMS Service</h1>
                        <p class="lead mb-5">projet de départ pour piloter un modem Huawei Wingle 4G et ainsi créer votre propre serveur SMS.</p>
                        <a class="btn btn-primary" href="#fonctionnalites"><span class="fas fa-book-reader mr-2"></span>Fonctionnalités</a></div>
                </div>
            </div>        
        </div>
        <!-- End of Hero section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card bg-primary shadow-soft border-light p-4">
                            <div class="row">
                                <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                                    <div class="card-body text-center bg-primary py-5">
                                        <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                            <h4>SMS</h4>
                                        </div>
                                        <!-- Heading -->
                                        <h2 class="h4 mr-2">
                                             Envoie & Lecture
                                        </h2>
                                        <!-- Text -->
                                        <p class="mb-0">Le serveur peut envoyer et faire la lecture des SMS présent dans la carte SIM du modem Huawei Wingle 4G.</p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                                    <div class="card-body text-center bg-primary py-5">
                                        <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                            <h4>USSD</h4>
                                        </div>
                                        <!-- Heading -->
                                        <h2 class="h4 mr-2">
                                             Envoie & Réponse
                                        </h2>
                                        <!-- Text -->
                                        <p class="mb-0">Envoie et réponse au code USSD sont également possible maintenant pour voir le credit et SMS restant dans la carte SIM.</p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 px-md-0">
                                    <div class="card-body text-center bg-primary py-5">
                                        <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                            <h4>API</h4>
                                        </div>
                                        <!-- Heading -->
                                        <h2 class="h4 mr-2">
                                            SMS & USSD
                                        </h2>
                                        <!-- Text -->
                                        <p class="mb-0">Nous avons livré le serveur HWS2 avec un API pour que toutes les fonctionnalites soient accessible de partout.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 mb-5">
                        <div class="card bg-primary shadow-soft border-light organic-radius p-3">
                            <img class="organic-radius img-fluid" src="../../assets/img/modem/modem.jpg" alt="modern desk">
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <h2 class="h1 mb-4">Modem Huawei Wingle 4G.</h2>
                        <p class="lead">Le modem Huawei Wingle 4G, model E8372 est un modem utilisable sur tous les systèmes d' éxploitation.</p>
                        <p class="lead">Avant de tester HWS2, assurez-vous que votre modem fonctionne normalement et que votre serveur est connécté au réseau wifi de votre modem.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
          <!-- Section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <h2 class="h1">Developpeur</h2>
                </div>
                <div class="row" style="display:flex;justify-content:center;align-items: center;">
                    <div class="col-md-4">
                        <!-- Profile Card -->
                        <div class="card bg-primary shadow-soft border-light text-center py-4 mb-5">
                            <div class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto">
                                <img src="../../assets/img/team/ny.png" class="card-img-top shadow-soft p-2 border border-light rounded-circle" alt="Neil Avatar">
                            </div>
                            <div class="card-body">
                                <h3 class="h5 mb-2">Ny Harena F. R. R.</h3>
                                <span class="h6 font-weight-normal text-gray mb-3">Fondateur du projet</span>
                                <ul class="list-unstyled d-flex justify-content-center my-3">
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100009279701344"  aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/HarenaGit" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                                            <span class="fab fa-github"></span>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <!-- End of Profile Card -->
                    </div>
                   
                </div>
            </div>
        </section>
        <!-- End of section -->
    </main>

    <% include partials/component/footer %>


    <% include partials/script %>

     <!-- Modal Content -->
     <% include ussd %>
     <!-- End of Modal Content -->

</body>

</html>