<footer class="d-flex pb-5 pt-6  border-top border-light bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><strong>HWS2</strong> est un projet de départ pour piloter un modem Huawei Wingle 4G et ainsi créer votre propre serveur SMS.</p>
                <ul class="d-flex list-unstyled mb-5 mb-lg-0">
                    
                    <li class="mr-2">
                        <a href="https://www.facebook.com/profile.php?id=100009279701344" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="facebook social link"
                        data-toggle="tooltip" data-placement="top" title="Lien facebook.com du developpeur">
                            <span aria-hidden="true" class="fab fa-facebook"></span>
                        </a>
                    </li>
                    <li class="mr-2">
                        <a href="https://github.com/HarenaGit" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="github social link"
                        data-toggle="tooltip" data-placement="top" title="Lien github.com du developpeur">
                            <span aria-hidden="true" class="fab fa-github"></span>
                        </a>
                    </li>
                   
                </ul>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h5>Fonctionnalités</h5>
                <ul class="footer-links list-unstyled mt-2">
                    <li class="mb-1"><a class="p-2" target="_blank" href="#top">Envoi & Lecture de SMS</a></li>
                    <li class="mb-1"><a class="p-2" target="_blank" href="#top">Envoie & Réponse au code USSD</a></li>
                    <li class="mb-1"><a class="p-2" target="_blank" href="#top">API SMS et Code USSD</a></li>
                  
                </ul>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h5>Contacts</h5>
                <ul class="footer-links list-unstyled mt-2">
                    <li class="mb-1"><a class="p-2" href="#" target="_blank">+261349882291
                        <span class="badge badge-gray text-uppercase ml-2">:tel:</span></a>
                    </li>
                     <li class="mb-1"><a class="p-2" href="#" target="_blank">nyharena.access5@gmail.com
                        <span class="badge badge-gray text-uppercase ml-2">:email:</span></a>
                    </li>
                   
                </ul>
            </div>
           
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col">
                <a href="https://themesberg.com" target="_blank" class="d-flex justify-content-center">
               <h6>HWS2</h6>
               </a>
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">Copyright © HWS2
                    <span class="current-year">2021</span>. Tous droit réservé.</p>
                </div>
            </div>
        </div>
    </div>
</footer>